.categories-bar{
    display: flex;
    justify-content: space-evenly ;
    cursor: pointer;
    list-style: none;
    background-color: rgba(142, 85, 199, 0.465);
    padding: 10px;
    margin: 15px;
    border-radius: 10px;

}

.categories-bar li:hover{
    background-color: rgb(121, 3, 247);
    color: white;
    border-radius:6px;
    transition: 0.5s  ease-in-out;
    padding: 8px;
}   
  
