

h1{
  background-color: aqua;
  color: red;
}

p{
  background-color: rebeccapurple;
  color: white;
}
#btn{
  border-radius: 7px;
  padding: 10px 20px;
  height: 50px;
  width: 80px;
  color: black;
  background-color: blueviolet;
  cursor: grab;
  transition: 0.3s ease;
}

#btn:hover{
  background-color: green;
  color: white;
}